ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #5e98c250;
  position: relative;
  margin-top: 3rem;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-cta i {
  color: #5e98c2;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #2a5884;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text a {
  text-decoration: none;
}
.cta-text a:hover {
  color: #5e98c2;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 24px;
  text-align: justify;
}
.footer-social-icon span {
  color: #2a5884;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  text-decoration: none;
}
.footer-social-icon a:hover {
  color: #fff;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.footer-social-icon i:hover {
  transform: translateY(-10px);
}
.facebook-bg {
  background: #3b5998;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.twitter-bg {
  background: #55acee;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.google-bg {
  background: #f09433;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.footer-widget-heading h3 {
  color: #2a5884;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #5e98c2;
  transition: all 0.4s;
}
.footer-widget-heading h3:hover::before {
  width: 100px;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 8px;
  transition: all 0.4s;
}
.footer-widget ul li a:hover {
  color: #5e98c2;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2a5884;
  border: 1px solid #2e2e2e;
  color: #fff;
  font-family: Poppins, sans-serif;
}
.subscribe-form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}

.subscribe-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.subscribe-form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #5e98c2;
  padding: 13px 20px;
  border: 1px solid #5e98c2;
  top: 0px;
  cursor: pointer;
}
.copyright-area {
  background: #2a5884;
  padding: 15px 0;
}
.middle-text {
  align-items: center;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.copyright-text p a {
  color: #5e98c2;
  text-decoration: none;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-menu li {
  display: inline-flex;
  margin-left: 20px;
}
.footer-menu ul {
  margin-bottom: 0;
}
.footer-menu li:hover a {
  color: #5e98c2;
}
.footer-menu li {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
